html, body, #root, .App{
    height: 100%;
    width: 100%;
}
img, svg{
    width: 100%;
}
nav{
    height: 100px;
    width: 100%;
    align-items: center;
}
nav .nav-brand{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
}
nav .menu-icon{
    width: 25px;
}
